.adoption-card {
    height: 24em;
    outline: none !important;
    border: none;
    border-radius: 1em;
    background: #efefef;
    box-shadow: 2px 2px 4px #cbcbcb, -2px -2px 4px #ffffff;
    width: 18rem;
}
.adoption-card-header{
    border-radius: 1em 1em 0 0 !important;
  }
  